
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.abtus{
    font-family: 'Poppins', sans-serif;
    display: grid;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 5%;
}

.abtus .abttext{
    align-self: center;
}

.abthead{
    font-size: 5vh;
    font-weight: bold;
}
.abtdesc{
    font-size: 3vh;
}

.abtuss{
    font-weight: 500;
    color: rgb(99, 99, 99);
}

.abtus img{
    box-sizing: inherit;
    max-width: 500px;
    height: max-content;
    align-items: right; 
    align-self: center;
}

@media (max-width: 1026px) {
    .abtus{
        display: grid;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 100px;
        grid-template-columns: repeat(1,3fr);
        text-align: center;
    }
    .abtus img{
        justify-self: center;
        width: 100%;
    }
    .abthead{
        font-size: 4vh;
    }
    .abtdesc{
        font-size: 3vh;
    }
  }

.vismis{
    font-family: 'Poppins', sans-serif;
    background-position: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZW52aXJvbm1lbnR8ZW58MHx8MHx8&w=1000&q=80);
    background-image: -moz-linear-gradient(90deg);
    opacity: 1;
    font-style: bold;
    color: rgb(0, 0, 0);
    background-attachment: fixed;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 15em;
    padding-right: 15em;
}

.vismis:before {
    content: "";
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: 0.6;
  }

.aimhead{
    font-size: 5vh;
    background-color: #ffffff9b;
    font-weight: 600;
    padding-bottom: 5px;
}
.aimdesc{
    font-size: 3vh;
    background-color: #ffffff9b;
    font-weight: 500;
}

@media (max-width: 1026px) {
    .vismis{
        padding-top: 4em;
        padding-bottom: 4em;
        padding-left: 5em;
        padding-right: 5em;
    }
    .aimhead{
        font-size: 4vh;
    }
    .aimdesc{
        font-size: 2.75vh;
    }
  }

  .ppll{
    font-family: 'Poppins', sans-serif;
    background-position: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1599059813005-11265ba4b4ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-image: -moz-linear-gradient(90deg);
    opacity: 1;
    font-style: bold;
    color: rgb(0, 0, 0);
    background-attachment: fixed;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
  }

  
.profiless {

    display: inline;
    align-items: center;
    justify-content: center;
    height: 40vh;
    /* background-color: white; */
    font-family: "Poppins", sans-serif;
  }
  
  .profile-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    /* margin: 30px; */
    color: black;
  }
  .profile-cards .card {
    width: 100px;
    height: 200px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  .profile-cards .card:hover .card-details,
  .profile-cards .card:hover .card-details-social a {
    transform: none;
  }
  .profile-cards .card:hover img {
    filter: blur(3px);
    transform: scale(1.2);
  }
  .profile-cards .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
  .profile-cards .card .card-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 20px 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: translateY(100%);
    transition: all 0.3s;
  }
  .profile-cards .card .card-details-title {
    color: black !important;
    font-size: 18px;
  }
  .profile-cards .card .card-details-social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-cards .card .card-details-social ul,
  .profile-cards .card .card-details-social ul li a {
        display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-cards .card .card-details-social ul li {
    list-style-type: none;
  }
  .profile-cards .card .card-details-social ul li a {
    width: 35px;
    height: 35px;
    color: #272727;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 5px 4px grey;
    cursor: pointer;
    transform: translateY(50px);
    transition: all 0.3s;
  }
  .profile-cards .card .card-details-social ul li a svg {
    width: 20px;
    height: 20px;
  }
  
  .pplhead{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 1em;
  }
